<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <p v-bind:id="uuid" v-bind:class="name">{{ num }}</p>
    <!-- <p id="abc1234">{{ num }}</p> -->
    <!-- 위와 아래의 내용이 같다 -->
    <!-- v-bind가 붙게 되면 아이디라는 속성에는 뷰의 데이터에서 관리되는 특정 데이터값이 연결이된다  -->
    <p>{{ doubleNum }}</p>
    <div v-if="loading">
      <!-- loading 데이터값이 true일 경우 보인다 -->
      Loading...
    </div>
    <div v-else>
      <!-- loading 데이터값이 false일 경우 보인다 -->
      test user has been logged in
    </div>
    <div v-show="loading">
      Loading...
    </div>
    <!-- if와 show의 차이점은 
    
    if는 false일 경우 돔을 아예 제거,
    show는 display만 none으로 바꾸고 돔의 정보는 남아있다  -->

    <!-- TODO: 인풋 박스를 만들고 입력된 값을 p 태그에 출력해보세요 -->
    <input v-model="message" type="text">
    <!-- v-model로 메세지를 연결힌다 -->
    <p> {{ message }} </p>
    <!-- 콧수염괄호 안에 메세지로 연결 -->
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: "#app",
      data: {
        num: 10,
        uuid: 'abc1234',
        name: 'text',
        loading: true,
        message: ''
        //메세지 데이터에 빈열을 받고,
      },
      computed: { 
        //데이터 속성안에 따로 만들지 않고 computed를 통해  doubleNum을 받을 수 있다
        //또한 num값을 받아서 저절로 같이 계산된다
        doubleNum: function(){
          return this.num * 2;
        }
      }
    })
  </script>
</body>
</html>